.show_info_general{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: fit-content;
}

#show_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#show_info_container{
    display: flex;
    justify-content: center;

}

#show_img{
    width: 300px;
    margin-right: 200px;
}

#show_info{
    display: grid;
    grid-template-columns: 200px 200px;
}

#show_description_container{
    grid-column: 1/3;
}

#options_container{
    display: flex;
    gap: 20px;
}