.item{
    display: flex;
    flex-direction: column;
}

.item_title{
    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.parts{
    padding-top: 2%;
}

#show_all_container{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

#item-container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 50px;
}


